.content-body {
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

.logo-text {
    color: white;
    font-weight: 800;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 5px;
    display: block;
}

.avatar-small {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f8fafc;
    border: 1px solid #e2e8f0;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #1e293b;
    cursor: pointer;
}

.nav-links a.active {
    color: white;
}

.nav-links a.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 30px;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
